<div ng-app="tell" ng-controller="LoggerController">
    <h1>Loggers</h1>
    <div ng-repeat="logger in loggers">
        <h2>
            [[ logger.name ]]
            <span class="glyphicon glyphicon-remove" ng-click="removeLogger(logger)"></span>
        </h2>
        <div ng-repeat="entry in logger.getEntries()">
            Entry: [[ entry.data ]]
        </div>
    </div>
    <div class="panel panel-default" ng-click="showCreateLogger()">
        <div class="panel-heading">
            <h3 class="panel-title">Create new logger <span class="glyphicon glyphicon-plus pull-right"></span></h3>
            <div ng-show="show_create_logger" ng-include="'/static/tplate/logger_edit_p.html'">asd</div>
        </div>
    </div>
</div>